@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--primary: #17161d;
	--secondary: #eaeaea;
	--accent: wheat;
	/*#838fba  c9d7c0*/
	scroll-behavior: smooth;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	/* You can adjust the width */
	background: transparent;
	/* Change this to the color you prefer */
	border-radius: 6px;
	/* Adjust the value to control the roundness */
}

/* Change the color and make the scrollbar thumb rounded */
::-webkit-scrollbar-thumb {
	background: var(--accent);
	/* Change this to the color you prefer */
	border-radius: 6px;
	/* Adjust the value to control the roundness */
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--secondary);
	background-color: var(--primary);
}

.go-top {
	display: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	color: var(--accent);
	background-color: var(--primary);
	border: 2px solid var(--accent);
	border-radius: 50px;
	font-size: 20px;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: all 0.2s ease-in-out;
}

.go-top:hover{
	background-color: var(--accent);
	color: var(--primary);
	bottom: 25px;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 40px;
}

header {
	background-color: var(--primary);
	padding: 15px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.025);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.navbar {
	/* border: 1px solid greenyellow ; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	color: var(--accent);
}

.hmbg {
	display: none;
}

nav ul {
	/* border: 1px solid green; */
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-weight: 500;
	/* padding: 5px; */
}

nav a {
	text-decoration: none;
	color: var(--secondary);
	transition: transform .3s ease-out;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

nav a:hover {
	color: var(--accent);
	transform: translateY(-2px);
}

.content {
	margin-top: 200px;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero img {
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	/* border: 3px solid var(--accent); */
	animation-name: wiggle;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.hero .desc {
	/* border: 1px solid yellow; */
}

.desc h1 {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}

.desc h2 {
	margin-top: 7px;
	font-size: 28px;
	font-weight: 600;
}

.desc h4 {
	margin-top: 7px;
	color: #a5a5a5;
}

.desc p {
	margin-top: 20px;
}

.desc .contact-btn {
	/* background-color: var(--accent); */
	border: 2px solid var(--accent);
	display: inline-block;
	margin-top: 16px;
	padding: 10px 15px;
	border-radius: 20px;
	color: var(--accent);
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}

.desc .contact-btn:hover {
	transform: translateX(10px);
	background-color: var(--accent);
	color: var(--primary);
}

.desc span {
	color: var(--accent);
}

section {
	/* border: 1px solid white; */
}

.lo {
	min-height: 1000px;
}

@media only screen and (max-width: 768px) {

	.container {
		padding: 0 20px;
	}

	.content {
		margin-top: 130px;
	}
	
	.hmbg{
		display: block;
		font-size: 22px;
		border: none;
		background-color: var(--primary);
		color: var(--secondary);
		cursor: pointer;
	}

	.fa-x {
		font-size: 16px;
	}
	
	nav {
		height: 36px;
	}

	nav ul {
		display: none;
		position: absolute;
		right: 15px;
		top: 80px;
		padding: 20px 30px;
		border-radius: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
		flex-direction: column;
		background-color: var(--accent);
		text-align: center;
		animation-name: slideL;
		animation-duration: 0.6s;
		animation-timing-function: ease-in-out;
	}

	nav a {
		color: var(--primary);
	}

	nav a:hover {
		color: var(--primary);
		/* transform: translateX(-3px); */
	}

	.hero {
		flex-direction: column-reverse;
		gap: 50px;
		/* justify-content: center; */
		border: 1px solid white;
	}
}


/* animation */
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(1.5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes slideL {
	0% {
		transform: translateX(50px);
		opacity: -1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}